head
  meta(charset="utf-8")
  title {{ page.title }}
  link(href="favicon.ico", rel="shortcut icon")
  meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")


  // стили:
  link.ui(href="dist/fomantic-ui/2.9.2/semantic.min.css", rel="stylesheet", type="text/css")

  // скрипты:
  script(src="dist/jquery/3.6.3/jquery.min.js")
  script(src="dist/fomantic-ui/2.9.2/semantic.min.js")

  //- пара моих личных стилей
  style(type="text/css").
    .canvas      { background-color: black; }
